@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Poppins&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.body {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(231, 230, 230);
  padding: 7vw;
  font-family: 'Nunito', sans-serif;
}

.confirmed {
  color: #fbe961;
}
.tested{
  color: rgb(238, 235, 193)
}


.stateContainer {
  margin-top: 20px;
  display : flex;
  height : auto;
  padding: 5px;
   flex-direction : row;
   gap : 5vw;
    justify-content: space-around;
     align-content: space-around;
    flex-wrap: wrap;
}

.discharged {

  color: #6fd791;
}

.death {
  color: #bc3131;
}

.confirmed{
    color: #31bca7;
}

.admission{
    color: #d8c40e;
}